<div class="jumbotron text-center">
<h1> Hello! </h1>


</div>
<div class="container">
  <p>
    <em>
      <h3>Welcome to this strange place.</h3>
    </em>
    <br/>
  <mark>This is a portfolio single-page web app built with Rails, jQuery, SCSS, Bootstrap, and HTML on Heroku. I hope you enjoy your stay!
<br/>
Use the menu at the top to navigate to the sections contained below.
<h2 class="section-end"><span class="glyphicon glyphicon-star-empty glyph"></span></h2>
<br/>
</mark>
</p>
</div>
</div>
<hr/>
<div class="container">
<h2>
  <a name="projects" class="anchor"><span class="glyphicon glyphicon-certificate glyph"></span> Projects</a>
</h2>

<br/>
<p><h3><mark>Excuse Generator</mark></h3>
<mark>
<br/>
In August of 2017, businessman Nathaniel Rifkin went viral after creating himself a dating website called "Should You Date Nate". If you missed it, you can check out an article detailing the site's swift rise <a href="https://www.thecut.com/2017/08/shouldyoudatenate-com-bad-dating-website.html" target="_blank"> here.</a>
<br/>
&nbsp;
<br/>
In a fit of defiance, I wrote a quick random-string generator in Javascript that takes common reasons that Nate would not find a person suitable, and spits them back out. Refresh to receive a new excuse! This was built/hosted on Tumblr (for a quick single-page site), and I took the opportunity to highlight a few Canadian women's causes for those who visited the site.
<ul>
<li><span class="glyphicon glyphicon-new-window glyph"></span><a href="http://shouldyoudatenate.com/index.original.php" target="_blank"> Original Nate Rifkin site</a></li>
<li><span class="glyphicon glyphicon-new-window glyph"></span><a href="http://ishouldnotdatenate.com/" target="_blank"> I Should Not Date Nate, the Excuse Generator.</a></li>
</ul>
</mark>
<hr/>
<h3><mark>Feedify, a pre-sections Instagram widget</mark></h3>
<mark>
<br/>
In June of 2016, I built a quick-and-dirty Instagram feed generator during Hack Days.
<br/> This app likely will no longer work due to changes to Instagram's API, but you can review the code in my public Feedify repository <a href="https://github.com/whateverbee/feedify" target="_blank">here</a>.

<br/>

<br/>
</mark>
</p>
<h2 class="section-end"><span class="glyphicon glyphicon-star-empty glyph"></span></h2>
<hr/>
</div>

<div class="container">
<h2>
  <a name="jokes" class="anchor"><span class="glyphicon glyphicon-fire glyph"></span> Bad Jokes</a>
</h2>
<p>
<mark> Here's a bunch of bad jokes. Enjoy! </mark>
<br/>
&nbsp;
<br/>
</p>
<button class="accordion"><strong><p>What kind of car does an egg drive?</p></strong></button>
<div class="panel">
<p>
<mark>
A Yolkswagen!
</mark>
</p>
</div>

<button class="accordion"><strong><p>What happens when you witness a ship wreck?</p></strong></button>
<div class="panel">
<p>
<mark>
You let it sink in.
</mark>
</p>
</div>

<button class="accordion"><strong><p>What type of music do mummies listen to?</p></strong></button>
<div class="panel">
<p>
<mark>
Wrap music!
</mark>
</p>
</div>

<button class="accordion"><strong><p>What do you call a fish with no eyes?</p></strong></button>
<div class="panel">
<p>
<mark>
A fsh.
</mark>
</p>
</div>


<h2 class="section-end"><span class="glyphicon glyphicon-star-empty glyph"></span></h2>
</div>

<div class="container">
<h2>
  <a name="about" class="anchor"><span class="glyphicon glyphicon-heart-empty glyph"></span> About Alida</a>
</h2>
<div class="row">
<div class="col col-sm">
<p class="face">
<img src="https://screenshot.click/19-07-39vmg-9chfp.png" class="face"/>
</p>
</div>
<div class="col col-md-auto text">
<h3>Hi!</h3>
 <br/>
<mark>

Welcome to my portfolio project page. I've built this as a tool for learning basic Rails and Heroku, as well as to flex a few of my skills in FED.
<br/>
I work at <a href="https://shopify.ca/careers">Shopify</a> as a Theme Support Team Lead - working closely with my team to help our thousands of merchants
affect the look and feel of their store, fix bugs, and improve their online expeience.
<br/>
I've been with Shopify since September of 2015; I originally joined as a Customer Success Guru. I moved to Theme Support in April of 2016, and became a Team Lead in January of 2017. Time flies!
<hr>
</mark>
<h3>Skills</h3>
<mark>
Code literacy:
<ul class="skills-list">
<li><span class="glyphicon glyphicon-console glyph"></span> &nbsp;  HTML: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span></p></li>
<li><span class="glyphicon glyphicon-picture glyph"></span> &nbsp;  CSS: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span></p></li>
<li><span class="glyphicon glyphicon-tint glyph"></span> &nbsp;  Liquid: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span></p></li>
<li><span class="glyphicon glyphicon-flash glyph"></span>  &nbsp; Javascript: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span></p></li>
<li><span class="glyphicon glyphicon-asterisk glyph"></span> &nbsp;  Ruby: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span></p></li>
<li><span class="glyphicon glyphicon-transfer glyph"></span> &nbsp;  Git and SVG: <p class="right"><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span><span class="glyphicon glyphicon-star-empty glyph"></span></p></li>
</ul>
<br/>
If you have questions, shoot me an email <a href="mailto:hello@alidacodes.ca">here</a> any time!
<br/>

</mark>

</div>
</div>


<h2 class="section-end"><span class="glyphicon glyphicon-star-empty glyph"></span></h2>

<h2><small style="text-align: center;">you have found the end of the page. well done!</small></h2>
</div>
