<div class="jumbotron text-center">
<h1> Hello! </h1>


</div>
  <div class="container">
<p><mark>Welcome to this strange place. <br/>
This is a portfolio single-page web app built with Rails, jQuery, SCSS, Bootstrap, and HTML on Heroku. I hope you enjoy your stay!
</mark>
</p>
  </div>
</div>
<div class="container">
</div>
</div>
