<div class="jumbotron text-center">
<h1> Hello! </h1>


</div>
<div class="container">
  <p>
    <em>
      <h3>Welcome to this strange place.</h3>
    </em>
    <br/>
  <mark>This is a portfolio single-page web app built with Rails, jQuery, SCSS, Bootstrap, and HTML on Heroku. I hope you enjoy your stay!
<br/>
<h2><span class=".glyphicon glyphicon-star-empty glyph"></span></h2>
<br/>
</mark>
</p>
</div>
</div>
<hr/>
<div class="container">
<h2>
  <a name="projects" class="anchor"><span class="glyphicon glyphicon-certificate glyph"></span> Projects</a>
</h2>

<br/>
<p><h3><mark>Excuse Generator</mark></h3>
<mark>
<br/>
In August of 2017, businessman Nathaniel Rifkin went viral after creating himself a dating website called "Should You Date Nate". If you missed it, you can check out an article detailing the site's swift rise <a href="https://www.thecut.com/2017/08/shouldyoudatenate-com-bad-dating-website.html" target="_blank"> here.</a>
<br/>
In a fit of defiance, I wrote a quick random-string generator in Javascript that takes common reasons that Nate would not find a person suitable, and spits them back out. Refresh to receive a new excuse! This was built/hosted on Tumblr (for a quick single-page site), and I took the opportunity to highlight a few Canadian women's causes for those who visited the site.
<ul>
<li><a href="http://shouldyoudatenate.com/index.original.php" target="_blank"> Original Nate Rifkin site</a></li>
<li><a href="http://ishouldnotdatenate.com/" target="_blank">I Should Not Date Nate, the Excuse Generator.</a></li>
</ul>
<hr/>
</mark>
</div>
</div>
